@import '../../bower_components/bootstrap/less/bootstrap.less';

/**
 * Import more styles or add them here. Keep shit clean yo!
 */

body:after {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    content: 'Dazz rocks xD';
}
